<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <a routerLink="/" class="navbar-brand">Contacts</a>
            <button class="btn btn-success">New Contact</button>
          </div>
        
    </div>
</nav>

<div class="row">
    <div class="col-xs-12">
        
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <app-contact-item
         *ngFor="let Contact of contacts" 
          [contacts]="Contact"
          (click)="onSelected(Contact)"
         ></app-contact-item>
        
    </div>
</div>
