<a 
routerLink={{kits.id}}
         class="list-group-item list-group-item-action  align-items-start model-list inactive" 
         
         >
            <div class="d-flex w-100 justify-content-between">
                <h2 class="">{{kits.name}}</h2>
                
            </div>
            <span class="pull-right">
                <img 
                
                [src]="kits.imageUrl"
                 alt="{{kits.name}}" 
                class="mb-1"
                 style="max-height: 85px;">
            </span>
        </a>