

<div class="panel panel-default">
    <div class="panel-heading panel-default">
        <h2>{{Contact.name}}</h2>
        <img src="{{Contact.imageUrl}}" width="100" >
        <a class="btn btn-danger pull-right" (click)="onDelete()">Delete</a>
        <a class="btn btn-primary pull-right" (click)="onEditContact()">Edit</a>
           
        </div>
    <div class="panel-body">
        <ul >
            <li>Email:{{Contact.email}}</li>
            <li>Phone:{{Contact.phone}}</li>
        </ul>
    </div>
  </div>